@using Microsoft.AspNetCore.Identity

@model Comment
@inject UserManager<User> UserManager
@inject IViewLocalizer Localizer


@{ var u = UserManager.Users.ToList();
    var commentsId = "comments" + Model.ItemId;
}

<div class="container">
    @{
        if (Model != null)
        {

            <div class="row justify-content-center">

                    <div class="col col-7">
                        <b><a asp-controller="Users" asp-action="UserProfile" asp-route-id="@Model.Author.Id">@Model.Author.UserName</a></b>
                        <p>@Model.Text</p>
                    </div>
                <div class="col col-1">


                    @if ((Model.Author == await UserManager.GetUserAsync(principal: User) && Model.Author != null) || User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        if (Model.Item != null)
                        {

                            <form asp-controller="Comic" asp-action="DeleteComment" asp-route-id="@Model.Id" method="POST" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@commentsId" enctype="multipart/form-data">
                                <button type="submit" class="close">&times;</button>
                            </form>

                        }
                    }
                </div>
            </div>
        }

    }
</div>