@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Home Controller. Search Results</h1>
    <div>
        <img src="https://placem.at/places?w=600&h=600">
    </div>
</div>
